    $background: #FAE1DF;
    $textColor: #343E3D;
    $softBg: #feecea;
    $softTextColor: #414e4d;
    $greenEmerald: #7BD389;
    $cadetGrey: #9EA3B0;
    $desertSand: #E4C3AD;
    $lightBlue: #4747af;
    $softPinkWhite: #faebd7;